
# 运行时App目录
/_apps
# 运行时日志文件目录
logs
# 运行时静态资源目录
_localstorage/*
# 静态资源目录
!_localstorage/editor_assets

# 查询SQL目录
/_mybatis

# 临时文件夹
_tempapp_

# 配置文件
config.json
config.js
config.development.json
confis.development.js
config.production.json
confis.production.js

# app目录
/apps/*
!apps/mybricks-open-login
!apps/custom-app

# 前端资源
platform/fe/assets/
/apps/mybricks-open-login/assets/

.idea/
.vscode

node_modules
package-lock.json
yarn.lock

yarn-error.log

*.zip
_temp_
.DS_Store
