.InfoContainer {
  background-color: #fff;
  border-radius: 3px;
  padding: 0px 16px;
  border-left: 1px solid #EEE;
  // box-shadow: 0 2px 4px 0 rgb(54 58 80 / 32%);

  .title {
    height: 40px;
    line-height: 22px;
    font-size: 16px;
    font-weight: 600;
    color: #333333;
  }

  .content {
    display: flex;
    align-items: center;
    justify-content: space-between;

    span {
      width: 100%;
      overflow: hidden;
      text-wrap: nowrap;
      text-overflow: ellipsis;
    }
  }

  .card {
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 2px 4px 0 rgb(54 58 80 / 32%);
    color: rgba(0,0,0,.9);
    margin-bottom: 12px;
    padding: 6px;
    &:hover {
      box-shadow: 0 2px 10px 0 rgb(0 0 0 / 20%);
    }
  }

  .iconContainer {
    height: 28px;
    display: flex;
    width: 28px;
    margin-right: -7px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 5px;
    &:hover {
      background-color: #3d5c800d;
    }
  }
}