.account {
  .title {
    font-size: 20px;
    font-weight: 700;
    line-height: 1.6;
    color: rgb(0, 0, 0);
    overflow-wrap: break-word;
    display: flex;
    margin: 0px 0px 12px;
  }

  .form {

    .item {
      display: flex;
      width: 100%;
      flex-direction: row;
      justify-content: center;
      align-items: flex-start;

      img {
        width: 64px;
        height: 64px;
        border-radius: 50%;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px;
      }

      .input {
        flex: 1;
        margin-left: 24px;
        align-self: flex-end;
      }

      button {
        align-self: flex-end;
        width: 64px;
        margin-left: 16px;
      }
    }
  }
}
